.dataTable{
    margin: 20px;

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .title{
            font-weight: 500;
            font-size: 18px;
        }

        a{
            text-decoration: none;
            color: inherit;
        }
        a .add{
            padding: 10px;
            border: 1px solid green;
            color: green;
            border-radius: 5px;
            cursor: pointer;
            text-transform: capitalize;
            font-size: 14px;
        }
    }

    .datagrid{
    

        .cellWithImg{
            display: flex;
            align-items: center;

            .cellImg{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }
        }
        .cellWithStatus {
            padding: 5px;
            border-radius: 5px;
        
            &.approved {
              color: green;
              background-color: rgba(0, 128, 0, 0.151);
            }
            &.pending {
              color: goldenrod;
              background-color: rgba(189, 189, 3, 0.103);
            }

            &.rejected {
                background-color: rgba(255, 0, 0, 0.05);
                color: crimson;
              }
              &.completed {
                background-color: rgb(151, 151, 228);
                color: darkblue;
              }
          }

         .action{
            display: flex;
            align-items: center;
            gap: 10px;
            a{
                color: transparent;
                text-decoration: none;
            }
            .view{
                padding: 2px 5px;
                color: darkblue;
                border: 1px dotted rgba(0, 0, 139, 0.596);
                border-radius: 5px;
                cursor: pointer;
                text-transform: capitalize;
                font-size: 13px;
             } 
    
             .delete{
                padding: 2px 5px;
                border: 1px solid green;
                color: crimson;
                border: 1px dotted rgba(220, 20, 60, 0.6);
                cursor: pointer;
                text-transform: capitalize;
                font-size: 13px;
             }
         }
    }
}